<% @articles.each do |article| %>
    <div class="panel panel-default">
      <div class="panel-heading ">
        <%= link_to article.title, article_path(article) %>
        <span style="float: right"><%= ('By ' + article.user.name) if (article.user && article.user.present?) %>       </span>
      </div>
      <div class="panel-body">
        <%= article.body.to_s[0..100] %>
      </div>
    </div>

<% end %>
